html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap");

:root {
	--main-bg-color: #171717;
	--main-fg-color: #424242;
	--main-txt-color: #EDEDED;
}

body {
	font-family: "Roboto Mono", monospace;
	background-color: var(--main-bg-color);
}

b {
	font-weight: 700;
}

.container {
	padding-top: 5rem;
	width: min(100% - 2rem, 60rem);
	margin-inline: auto;
	color: var(--main-txt-color);
	line-height: 2rem;
}

h1 {
	font-weight: 400;
	font-size: 48px;
	line-height: 3rem;
}

h2 {
	font-size: 24px;
	color: #707070;
}

a {
	text-decoration: none;
	color: #EDEDED;
}

input {
	display: none;
}

label {
	cursor: pointer;
	font-size: 18px;
}

label::before {
	content: "[+] ";
}

input:checked + label::before {
	content: "[-] ";
}

ul li::before {
	content: "\2022";
	color: #DA0037;
	display: inline-block;
	width: 1em;
	font-weight: 700;
}

.sub-content {
	display: none;
	padding-left: 2rem;
}

input:checked ~ .sub-content {
	display: block;
}


dt::before {
	content: "\2022";
	color: #DA0037;
	display: inline-block;
	width: 1em;
	font-weight: 700;
}

dd {
	line-height: 1.3rem;
	padding-left: 2em;
	font-size: 14px;
}